# Ejercicio San Marcos

## **Parte 1**

In [2]:
#Para la limpieza, primero subimos las dos datas

import pandas as pd

url1 = "https://raw.githubusercontent.com/alfredoaroterleira/UNMSM_ejercicio/refs/heads/main/Education_expenditures.csv"
data_edu = pd.read_csv(url1)

url2 = "https://raw.githubusercontent.com/alfredoaroterleira/UNMSM_ejercicio/refs/heads/main/Public_debt.csv"
data_debt = pd.read_csv(url2)

### Edu

In [4]:
data_edu.head()

,name,slug,% of GDP,date_of_information,ranking,region
0,Marshall Islands,marshall-islands,13.6,2020,1,Australia and Oceania
1,Solomon Islands,solomon-islands,12.8,2020,2,Australia and Oceania
2,Kiribati,kiribati,12.4,2019,3,Australia and Oceania
3,Greenland,greenland,10.2,2019,4,North America
4,Bolivia,bolivia,9.8,2020,5,South America

In [5]:
data_edu.columns

Index(['name', 'slug', '% of GDP', 'date_of_information', 'ranking', 'region'], dtype='object')

In [6]:
#solo me debo quedar con las variables: país, variable, región
data_edu = data_edu[['name', '% of GDP', 'region']]
print(data_edu.head())

               name  % of GDP                 region
0  Marshall Islands      13.6  Australia and Oceania
1   Solomon Islands      12.8  Australia and Oceania
2          Kiribati      12.4  Australia and Oceania
3         Greenland      10.2          North America
4           Bolivia       9.8          South America

In [7]:
data_edu.dtypes

name         object
% of GDP    float64
region       object
dtype: object

In [8]:
data_edu = data_edu.rename(columns={'% of GDP': 'gdp_edu_percent'})
print(data_edu.head())

               name  gdp_edu_percent                 region
0  Marshall Islands             13.6  Australia and Oceania
1   Solomon Islands             12.8  Australia and Oceania
2          Kiribati             12.4  Australia and Oceania
3         Greenland             10.2          North America
4           Bolivia              9.8          South America

### Debt

In [10]:
data_debt.head()

,name,slug,% of GDP,date_of_information,ranking,region
0,Japan,japan,216.2,2022,1,East and Southeast Asia
1,Greece,greece,190.6,2023,2,Europe
2,Singapore,singapore,177.0,2023,3,East and Southeast Asia
3,Lebanon,lebanon,146.8,2017,4,Middle East
4,United Kingdom,united-kingdom,138.2,2023,5,Europe

In [11]:
data_debt.columns

Index(['name', 'slug', '% of GDP', 'date_of_information', 'ranking', 'region'], dtype='object')

In [12]:
#solo me debo quedar con las variables: país, variable, región
data_debt = data_debt[['name', '% of GDP', 'region']]
print(data_debt.head())

             name  % of GDP                   region
0           Japan     216.2  East and Southeast Asia
1          Greece     190.6                   Europe
2       Singapore     177.0  East and Southeast Asia
3         Lebanon     146.8              Middle East
4  United Kingdom     138.2                   Europe

In [13]:
data_debt.dtypes

name         object
% of GDP    float64
region       object
dtype: object

In [14]:
data_debt = data_debt.rename(columns={'% of GDP': 'gdp_debt_percent'})
print(data_debt.head())

             name  gdp_debt_percent                   region
0           Japan             216.2  East and Southeast Asia
1          Greece             190.6                   Europe
2       Singapore             177.0  East and Southeast Asia
3         Lebanon             146.8              Middle East
4  United Kingdom             138.2                   Europe

### Merge de ambas datas

In [16]:
data_final1 = pd.merge(data_edu, data_debt, on=['name', 'region'], how='inner')
print(data_final1.head())

               name  gdp_edu_percent                 region  gdp_debt_percent
0  Marshall Islands             13.6  Australia and Oceania              41.6
1   Solomon Islands             12.8  Australia and Oceania              15.4
2          Kiribati             12.4  Australia and Oceania              26.3
3         Greenland             10.2          North America              13.0
4           Bolivia              9.8          South America              49.0

### Descargamos la data

In [18]:
data_final1.to_csv('data_part1.csv', index=False)

## **Parte 2**

### Leemos tabla 1 de wikipedia

In [21]:
import requests
from lxml import html
import pandas as pd

url = "https://es.wikipedia.org/wiki/Elecciones_generales_de_Per%C3%BA_de_2021"

# Descargar contenido
response = requests.get(url)
response.raise_for_status()

# Parsear HTML
doc = html.fromstring(response.content)

# Seleccionar la tabla con XPath (apunta al <table>, no al <tbody>)
table = doc.xpath('//*[@id="mw-content-text"]/div[1]/table[16]')[0]

# Convertir la tabla a string HTML
table_html = html.tostring(table)

# Usar pandas para leer esa tabla HTML
votos = pd.read_html(table_html)[0]

print(votos.head())

  Departamento Castillo Fujimori   López  De Soto Lescano Mendoza   Acuña  \
0     Amazonas   34 464   17 815   8 274    4 433  12 703   8 894  11 531
1       Ancash  110 620   67 394  42 312   34 562  38 911  39 786  44 047
2     Apurimac   88 812   10 879   7 768    6 531  15 649  15 368   2 154
3     Arequipa  256 224   40 216  71 053  148 793  88 708  55 269  18 790
4     Ayacucho  130 224   24 506  11 490    8 995  20 315  24 506   4 891

     Otros En blanco   Nulos Participación  Electores
0   54 510    37 376  14 482       184 057    306 186
1  177 986    92 664  49 401       613 850    886 265
2   36 547    41 563  11 511       219 260    316 000
3  190 717    67 914  38 618       902 243  1 145 268
4   55 020    57 804  16 467       324 821    473 282

In [22]:
votos.columns

Index(['Departamento', 'Castillo', 'Fujimori', 'López', 'De Soto', 'Lescano',
       'Mendoza', 'Acuña', 'Otros', 'En blanco', 'Nulos', 'Participación',
       'Electores'],
      dtype='object')

In [23]:
votos = votos.rename(columns={"Departamento": "DEPARTAMENTO",
                              "López": 'Lopez',
                              "De\xa0Soto": "De_Soto",
                              "En blanco": "blanco",
                             "Participación": "Participacion"})

print(votos.head())

  DEPARTAMENTO Castillo Fujimori   Lopez  De_Soto Lescano Mendoza   Acuña  \
0     Amazonas   34 464   17 815   8 274    4 433  12 703   8 894  11 531
1       Ancash  110 620   67 394  42 312   34 562  38 911  39 786  44 047
2     Apurimac   88 812   10 879   7 768    6 531  15 649  15 368   2 154
3     Arequipa  256 224   40 216  71 053  148 793  88 708  55 269  18 790
4     Ayacucho  130 224   24 506  11 490    8 995  20 315  24 506   4 891

     Otros  blanco   Nulos Participacion  Electores
0   54 510  37 376  14 482       184 057    306 186
1  177 986  92 664  49 401       613 850    886 265
2   36 547  41 563  11 511       219 260    316 000
3  190 717  67 914  38 618       902 243  1 145 268
4   55 020  57 804  16 467       324 821    473 282

In [24]:
votos.dtypes

DEPARTAMENTO     object
Castillo         object
Fujimori         object
Lopez            object
De_Soto          object
Lescano          object
Mendoza          object
Acuña            object
Otros            object
blanco           object
Nulos            object
Participacion    object
Electores        object
dtype: object

In [25]:
!pip install unidecode
import unidecode  #quitar tildes

votos['DEPARTAMENTO'] = votos['DEPARTAMENTO'].str.upper()

# eliminamos tildes
votos['DEPARTAMENTO'] = votos['DEPARTAMENTO'].apply(unidecode.unidecode)

print(votos['DEPARTAMENTO'].unique())

Requirement already satisfied: unidecode in c:\users\usuario\anaconda3\lib\site-packages (1.2.0)
['AMAZONAS' 'ANCASH' 'APURIMAC' 'AREQUIPA' 'AYACUCHO' 'CAJAMARCA' 'CALLAO'
 'CUSCO' 'HUANCAVELICA' 'HUANUCO' 'ICA' 'JUNIN' 'LA LIBERTAD' 'LAMBAYEQUE'
 'LIMA' 'LORETO' 'MADRE DE DIOS' 'MOQUEGUA' 'PASCO' 'PIURA' 'PUNO'
 'SAN MARTIN' 'TACNA' 'TUMBES' 'UCAYALI' 'VOTO EXTRANJERO']

In [26]:
# convertimos a numérica

votos.columns

Index(['DEPARTAMENTO', 'Castillo', 'Fujimori', 'Lopez', 'De_Soto', 'Lescano',
       'Mendoza', 'Acuña', 'Otros', 'blanco', 'Nulos', 'Participacion',
       'Electores'],
      dtype='object')

In [27]:
#mejor este código
print(votos.columns.tolist())

['DEPARTAMENTO', 'Castillo', 'Fujimori', 'Lopez', 'De_Soto', 'Lescano', 'Mendoza', 'Acuña', 'Otros', 'blanco', 'Nulos', 'Participacion', 'Electores']

In [28]:
# Lista con las columnas que quieres convertir
cols_a_convertir = ['Castillo', 'Fujimori', 'Lopez', 'De_Soto', 'Lescano',
       'Mendoza', 'Acuña', 'Otros', 'blanco', 'Nulos', 'Participacion',
       'Electores']  # reemplaza con tus columnas

# Convertir esas columnas a numéricas con manejo de errores (los no convertibles se vuelven NaN)
for col in cols_a_convertir:
    votos[col] = votos[col].astype(str).str.replace(' ', '')  # quita espacios en el texto
    votos[col] = pd.to_numeric(votos[col], errors='coerce')

In [29]:
votos.head()

,DEPARTAMENTO,Castillo,Fujimori,Lopez,De_Soto,Lescano,Mendoza,Acuña,Otros,blanco,Nulos,Participacion,Electores
0,AMAZONAS,34464.0,17815.0,8274.0,4433.0,12703.0,8894.0,11531.0,54510.0,37376.0,14482.0,184057.0,306186.0
1,ANCASH,110620.0,67394.0,42312.0,34562.0,38911.0,39786.0,44047.0,177986.0,92664.0,49401.0,613850.0,886265.0
2,APURIMAC,88812.0,10879.0,7768.0,6531.0,15649.0,15368.0,2154.0,36547.0,41563.0,11511.0,219260.0,316000.0
3,AREQUIPA,256224.0,40216.0,71053.0,148793.0,88708.0,55269.0,18790.0,190717.0,67914.0,38618.0,902243.0,1145268.0
4,AYACUCHO,130224.0,24506.0,11490.0,8995.0,20315.0,24506.0,4891.0,55020.0,57804.0,16467.0,324821.0,473282.0

In [30]:
#creo la fila: LIMA-CALLAO en DEPARTAMENTO por la otra data
lima_callao_sum = votos[votos['DEPARTAMENTO'].isin(['LIMA', 'CALLAO'])].drop(columns=['DEPARTAMENTO']).sum()

# Crea una nueva fila para LIMA-CALLAO
lima_callao_row = pd.DataFrame([['LIMA-CALLAO'] + lima_callao_sum.tolist()], columns=votos.columns)

# Filtra las filas que no son Lima ni Callao
df_otros = votos[~votos['DEPARTAMENTO'].isin(['LIMA', 'CALLAO'])]

# Junta todo
votos= pd.concat([df_otros, lima_callao_row], ignore_index=True)

print(votos.head())

  DEPARTAMENTO  Castillo  Fujimori    Lopez   De_Soto  Lescano  Mendoza  \
0     AMAZONAS   34464.0   17815.0   8274.0    4433.0  12703.0   8894.0
1       ANCASH  110620.0   67394.0  42312.0   34562.0  38911.0  39786.0
2     APURIMAC   88812.0   10879.0   7768.0    6531.0  15649.0  15368.0
3     AREQUIPA  256224.0   40216.0  71053.0  148793.0  88708.0  55269.0
4     AYACUCHO  130224.0   24506.0  11490.0    8995.0  20315.0  24506.0

     Acuña     Otros   blanco    Nulos  Participacion  Electores
0  11531.0   54510.0  37376.0  14482.0       184057.0   306186.0
1  44047.0  177986.0  92664.0  49401.0       613850.0   886265.0
2   2154.0   36547.0  41563.0  11511.0       219260.0   316000.0
3  18790.0  190717.0  67914.0  38618.0       902243.0  1145268.0
4   4891.0   55020.0  57804.0  16467.0       324821.0   473282.0

In [31]:
votos['prop_vot_cast'] = votos['Castillo'] / votos['Electores']
print(votos.head())

  DEPARTAMENTO  Castillo  Fujimori    Lopez   De_Soto  Lescano  Mendoza  \
0     AMAZONAS   34464.0   17815.0   8274.0    4433.0  12703.0   8894.0
1       ANCASH  110620.0   67394.0  42312.0   34562.0  38911.0  39786.0
2     APURIMAC   88812.0   10879.0   7768.0    6531.0  15649.0  15368.0
3     AREQUIPA  256224.0   40216.0  71053.0  148793.0  88708.0  55269.0
4     AYACUCHO  130224.0   24506.0  11490.0    8995.0  20315.0  24506.0

     Acuña     Otros   blanco    Nulos  Participacion  Electores  \
0  11531.0   54510.0  37376.0  14482.0       184057.0   306186.0
1  44047.0  177986.0  92664.0  49401.0       613850.0   886265.0
2   2154.0   36547.0  41563.0  11511.0       219260.0   316000.0
3  18790.0  190717.0  67914.0  38618.0       902243.0  1145268.0
4   4891.0   55020.0  57804.0  16467.0       324821.0   473282.0

   prop_vot_cast
0       0.112559
1       0.124816
2       0.281051
3       0.223724
4       0.275151

In [32]:
#me quedo con la data importante
votos = votos[['DEPARTAMENTO', 'Castillo', 'prop_vot_cast']]
print(votos.head())

  DEPARTAMENTO  Castillo  prop_vot_cast
0     AMAZONAS   34464.0       0.112559
1       ANCASH  110620.0       0.124816
2     APURIMAC   88812.0       0.281051
3     AREQUIPA  256224.0       0.223724
4     AYACUCHO  130224.0       0.275151

In [33]:
print(votos['DEPARTAMENTO'].unique())

['AMAZONAS' 'ANCASH' 'APURIMAC' 'AREQUIPA' 'AYACUCHO' 'CAJAMARCA' 'CUSCO'
 'HUANCAVELICA' 'HUANUCO' 'ICA' 'JUNIN' 'LA LIBERTAD' 'LAMBAYEQUE'
 'LORETO' 'MADRE DE DIOS' 'MOQUEGUA' 'PASCO' 'PIURA' 'PUNO' 'SAN MARTIN'
 'TACNA' 'TUMBES' 'UCAYALI' 'VOTO EXTRANJERO' 'LIMA-CALLAO']

### Leemos la tabla 2 de wikipedia

In [35]:
# leemos la tabla
import requests
from lxml import html
import pandas as pd

# URL de la página de pobreza en Perú
url = "https://es.wikipedia.org/wiki/Pobreza_en_el_Per%C3%BA"

# Descargar contenido
response = requests.get(url)
response.raise_for_status()

# Parsear HTML
doc = html.fromstring(response.content)

# Seleccionar la tabla con XPath (tabla 1)
table = doc.xpath('//*[@id="mw-content-text"]/div[1]/table[1]')[0]

# Convertir la tabla a string HTML
table_html = html.tostring(table)

# Leer la tabla con pandas
pobreza = pd.read_html(table_html)[0]

# Mostrar las primeras filas
print(pobreza.head())

                    #        Departamento             Pobreza  \
         Pobreza Baja        Pobreza Baja        Pobreza Baja
0                  1°                 Ica               5.1 %
1  Pobreza Medio Baja  Pobreza Medio Baja  Pobreza Medio Baja
2                  2°            Moquegua              12.9 %
3                  3°            Arequipa              13.6 %
4                  4°       Madre de Dios              13.7 %

      Pobreza Extrema                 Año
         Pobreza Baja        Pobreza Baja
0                 0 %                2022
1  Pobreza Medio Baja  Pobreza Medio Baja
2               3.3 %                2022
3               2.3 %                2022
4               1.6 %                2022

In [36]:
pobreza.head()

,#,Departamento,Pobreza,Pobreza Extrema,Año
,Pobreza Baja,Pobreza Baja,Pobreza Baja,Pobreza Baja,Pobreza Baja
0,1°,Ica,5.1 %,0 %,2022
1,Pobreza Medio Baja,Pobreza Medio Baja,Pobreza Medio Baja,Pobreza Medio Baja,Pobreza Medio Baja
2,2°,Moquegua,12.9 %,3.3 %,2022
3,3°,Arequipa,13.6 %,2.3 %,2022
4,4°,Madre de Dios,13.7 %,1.6 %,2022

In [37]:
pobreza.columns

MultiIndex([(              '#', 'Pobreza Baja'),
            (   'Departamento', 'Pobreza Baja'),
            (        'Pobreza', 'Pobreza Baja'),
            ('Pobreza Extrema', 'Pobreza Baja'),
            (            'Año', 'Pobreza Baja')],
           )

In [38]:
pobreza = pobreza[[('Departamento', 'Pobreza Baja'),
                            ('Pobreza', 'Pobreza Baja'),
                            ('Pobreza Extrema', 'Pobreza Baja')]]

print(pobreza.head())

         Departamento             Pobreza     Pobreza Extrema
         Pobreza Baja        Pobreza Baja        Pobreza Baja
0                 Ica               5.1 %                 0 %
1  Pobreza Medio Baja  Pobreza Medio Baja  Pobreza Medio Baja
2            Moquegua              12.9 %               3.3 %
3            Arequipa              13.6 %               2.3 %
4       Madre de Dios              13.7 %               1.6 %

In [39]:
# Renombrar las columnas para quitar el segundo nivel
pobreza.columns = ['DEPARTAMENTO', 'Pobreza', 'Pobreza Extrema']
print(pobreza.head())

         DEPARTAMENTO             Pobreza     Pobreza Extrema
0                 Ica               5.1 %                 0 %
1  Pobreza Medio Baja  Pobreza Medio Baja  Pobreza Medio Baja
2            Moquegua              12.9 %               3.3 %
3            Arequipa              13.6 %               2.3 %
4       Madre de Dios              13.7 %               1.6 %

In [40]:
pobreza.dtypes

DEPARTAMENTO       object
Pobreza            object
Pobreza Extrema    object
dtype: object

In [41]:
pobreza = pobreza[~pobreza['DEPARTAMENTO'].str.contains('Pobreza', na=False)]
print(pobreza.head())

    DEPARTAMENTO Pobreza Pobreza Extrema
0            Ica   5.1 %             0 %
2       Moquegua  12.9 %           3.3 %
3       Arequipa  13.6 %           2.3 %
4  Madre de Dios  13.7 %           1.6 %
5     Lambayeque  14.1 %           1.0 %

In [42]:
#modificamos la columna pobreza y pobreza extrema

# Eliminar el signo '%' y convertir a float
pobreza['Pobreza'] = (
    pobreza['Pobreza']
    .str.replace('%', '', regex=False)
    .str.strip()
    .astype(float)
)

pobreza['Pobreza Extrema'] = (
    pobreza['Pobreza Extrema']
    .str.replace('%', '', regex=False)
    .str.strip()
    .astype(float)
    
)

print(pobreza.head())

    DEPARTAMENTO  Pobreza  Pobreza Extrema
0            Ica      5.1              0.0
2       Moquegua     12.9              3.3
3       Arequipa     13.6              2.3
4  Madre de Dios     13.7              1.6
5     Lambayeque     14.1              1.0

In [43]:
pobreza.dtypes

DEPARTAMENTO        object
Pobreza            float64
Pobreza Extrema    float64
dtype: object

In [44]:
import unidecode  #quitar tildes

pobreza['DEPARTAMENTO'] = pobreza['DEPARTAMENTO'].str.upper()

# eliminamos tildes
pobreza['DEPARTAMENTO'] = pobreza['DEPARTAMENTO'].apply(unidecode.unidecode)

print(pobreza['DEPARTAMENTO'].unique())

['ICA' 'MOQUEGUA' 'AREQUIPA' 'MADRE DE DIOS' 'LAMBAYEQUE' 'ANCASH' 'CUZCO'
 'JUNIN' 'UCAYALI' 'TACNA' 'TUMBES' 'APURIMAC' 'SAN MARTIN' 'PIURA'
 'AMAZONAS' 'LIMA Y CALLAO' 'LA LIBERTAD' 'HUANCAVELICA' 'LORETO' 'PASCO'
 'AYACUCHO' 'PUNO' 'HUANUCO' 'CAJAMARCA' 'PERU']

In [45]:
pobreza['DEPARTAMENTO'] = pobreza['DEPARTAMENTO'].replace({
    'CUZCO': 'CUSCO',
    'LIMA Y CALLAO': 'LIMA-CALLAO'
})

print(pobreza['DEPARTAMENTO'].unique())

['ICA' 'MOQUEGUA' 'AREQUIPA' 'MADRE DE DIOS' 'LAMBAYEQUE' 'ANCASH' 'CUSCO'
 'JUNIN' 'UCAYALI' 'TACNA' 'TUMBES' 'APURIMAC' 'SAN MARTIN' 'PIURA'
 'AMAZONAS' 'LIMA-CALLAO' 'LA LIBERTAD' 'HUANCAVELICA' 'LORETO' 'PASCO'
 'AYACUCHO' 'PUNO' 'HUANUCO' 'CAJAMARCA' 'PERU']

In [46]:
# Nombres únicos de departamentos en pobreza
dept_pobreza = set(pobreza['DEPARTAMENTO'].unique())

# Nombres únicos de departamentos en votos
dept_votos = set(votos["DEPARTAMENTO"].unique())

# Departamentos que están en pobreza pero no en votos
solo_en_pobreza = dept_pobreza - dept_votos

# Departamentos que están en votos pero no en pobreza
solo_en_votos = dept_votos - dept_pobreza

print("Departamentos en pobreza pero NO en votos:", solo_en_pobreza)
print("Departamentos en votos pero NO en pobreza:", solo_en_votos)

Departamentos en pobreza pero NO en votos: {'PERU'}
Departamentos en votos pero NO en pobreza: {'VOTO EXTRANJERO'}

### Merge

In [48]:
data_final2 = pd.merge(votos, pobreza, on=['DEPARTAMENTO'], how='inner')

In [49]:
data_final2.head()

  DEPARTAMENTO  Castillo  prop_vot_cast  Pobreza  Pobreza Extrema
0     AMAZONAS   34464.0       0.112559     25.6              7.1
1       ANCASH  110620.0       0.124816     21.4              4.0
2     APURIMAC   88812.0       0.281051     24.9              3.3
3     AREQUIPA  256224.0       0.223724     13.6              2.3
4     AYACUCHO  130224.0       0.275151     40.7             10.7

In [50]:
data_final2.shape

(24, 5)

In [51]:
data_final2.to_csv('data_part2.csv', index=False)